body {
    --twitter-image: rgb(57, 68, 223);
    --twitter-background: #161733;
    --twitter-tweet: #0A1342;
    /* background-color: #F4EEAE !important; */
    /* background-image: url('./public/photo-1.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
    /* we make global variable*/
}

.app {
    display: flex;
    height: 100vh;
    max-width: 85em;
    margin-left: auto;
    margin-right: auto;
}