.post {
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    border-bottom: 1.5px solid var(--twitter-background);
    margin: 10px;
    padding-bottom: 0.6em;
    flex: 1;
}

.post_headertext {
    display: flex;
    align-items: center !important;
}

.post_avatar {
    padding: 0.5em;
}

#post_badge {
    font-weight: 600;
    font-size: 1em;
    color: gray;
}

#post_headerSpecial {
    font-size: 1em;
    color: var(--twitter-image)
}

img {
    border-radius: 1.22em;
    height: 20em;
    width: 100%;
}

#footer {
    display: flex !important;
    justify-content: space-between !important;
    margin-top: 0.8em;
}