.leftGrid {
    background-color: #314478 !important;
    padding: 1em 0em !important;
    border-radius: 1.22em !important;
}

.Profile_Photo {
    margin-left: auto !important;
    margin-right: auto !important;
    height: 4em !important;
    width: 4em !important;
}

.follower {
    justify-content: center !important;
    width: 60% !important;
    border-radius: 0.2em !important;
}

.following {
    justify-content: center !important;
    margin-top: 1em !important;
    width: 60% !important;
}

.following Button {
    color: white !important;
}

.update_profile {
    justify-content: center !important;
    margin-top: 1em !important;
    width: 60% !important;
}

.comments {
    height: 36em;
    overflow-y: scroll;
    background-color: #163057;
    padding: 0em 0.8em 0.8em 0.8em;
}

.comments::-webkit-scrollbar {
    display: none;
}

.hide_grid {
    display: none !important;
}


/* Hide scrollbar for IE, Edge and Firefox */

.comments {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}