.sidebar-tweet {
    border: none !important;
    color: white !important;
    border-radius: 4em !important;
    background-color: var(--twitter-image) !important;
    font-weight: 600 !important;
    margin: 20px !important;
}

.twitter-icon {
    color: var(--twitter-image);
    width: 2em !important;
    height: 2em !important;
    margin-left: 5%;
}

.sidebar {
    border-right: 2px solid var(--twitter-background);
    min-width: 15em;
    margin-top: 0.5em;
    padding-left: 1.2px;
    padding-right: 1.2px;
}