.sidebaroption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebaroption:hover {
    background-color: rgb(191, 221, 240);
    color: var(--twitter-image);
    /*here we use global variable --twitter-image*/
    transition: color 100ms ease-out;
    /* It activate on color after 100ms*/
    border-radius: 4em;
}

.sidebaroption>.MuiSvgIcon-root {
    /*It will select only icons of sidebar*/
    padding: 0.7em;
}

.sidebaroption>h2 {
    /*It will select only h2 elements of sidebar*/
    font-size: 1.22em;
    font-weight: 800;
    margin-right: 1.22em;
}